.introduction{
    font-size: 20px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
}

body {
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.wb_mWegkVf3svJfgAX9_8AHaEJ?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3);
}

h1{
    color: white;
}

p{
    color: white;
}

